.bg-main{
    background-color: rgb(36, 36, 36);
}
.main-color{
    background-color: rgb(184, 46, 46);
}
.text-main{
    color: rgb(184, 46, 46);
}
.card-color{
    background-color: rgb(28, 28, 33);
}
.text-second{
    color: #BFBFBF;
}
.btn-danger{
    background-color: rgb(184, 46, 46) !important;
}
.btn-danger:hover{
    background-color: rgb(170, 32, 32) !important;
}
.callus{
    transition: 0.1s;
}
.callus:hover{
    background-color: rgb(170, 32, 32) !important;
}